$color-dark-1: #262626;
$color-dark-2: #1f1d1d;
$color-black: #000;
$color-white: #fff;
$color-primary: #d3ab55;
$color-secondary: #bbb;

$font-dancingScript: "Dancing Script", cursive;
$font-josefinSans: "Josefin Sans", sans-serif;
$font-nunito: "Nunito", sans-serif;

@mixin flexLayout {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin textStyle($transform: uppercase) {
	font-weight: 300px;
	letter-spacing: 2px;
	text-transform: $transform;
}

@mixin centering($topValue) {
	position: absolute;
	top: $topValue;
	left: 50%;
	transform: translate(-50%, -50%);
}

%fullSpace {
	width: 100%;
	height: 100%;
}

body {
	background-color: $color-dark-1;
}
