// @media(min-width: 1400px) {}

// @media(min-width: 1200px) and (max-width: 1399px) {}

// @media(min-width: 992px) and (max-width: 1199px) {}

// @media(min-width: 768px) and (max-width: 991px) {}

// @media(min-width: 576px) and (max-width: 767px) {}

// @media(max-width: 575px) {}

.m-navbar {
	position: relative;
	z-index: 200;
	display: flex;
	&-navigation {
		display: flex;
		&-left {
			width: 50vw;
			height: 100vh;
			background-color: $color-dark-1;
			position: fixed;
			left: -55vw;
			transition: left 0.8s cubic-bezier(1, 0, 0, 1);
			@media (min-width: 576px) and (max-width: 767px) {
				display: none;
			}
			@media (max-width: 575px) {
				display: none;
			}
			.left-img {
				width: 300px;
				position: absolute;
				box-shadow: 0 4px 24px 0 rgba($color-black, 0.4);
				opacity: 0.7;
				border-radius: 10px;
			}
			.left-img-1 {
				left: 10%;
				top: 15%;
				@media (min-width: 1400px) {
					top: 30%;
				}
				@media (min-width: 1200px) and (max-width: 1399px) {
					top: 30%;
				}
				@media (min-width: 992px) and (max-width: 1199px) {
					top: 35%;
				}
				@media (min-width: 768px) and (max-width: 991px) {
					top: 35%;
				}
			}
			.left-img-2 {
				left: 30%;
				top: 25%;
				@media (min-width: 1400px) {
					top: 40%;
				}
				@media (min-width: 1200px) and (max-width: 1399px) {
					top: 40%;
				}
				@media (min-width: 992px) and (max-width: 1199px) {
					left: 20%;
					top: 45%;
				}
				@media (min-width: 768px) and (max-width: 991px) {
					left: 15%;
					top: 45%;
				}
			}
			.left-img-3 {
				left: 50%;
				top: 35%;
				@media (min-width: 1400px) {
					top: 50%;
				}
				@media (min-width: 1200px) and (max-width: 1399px) {
					top: 50%;
				}
				@media (min-width: 992px) and (max-width: 1199px) {
					left: 35%;
					top: 55%;
				}
				@media (min-width: 768px) and (max-width: 991px) {
					left: 20%;
					top: 55%;
				}
			}
		}
		&-right {
			width: 50vw;
			height: 100vh;
			background-color: $color-dark-2;
			position: fixed;
			right: -50vw;
			@include flexLayout;
			transition: right 0.8s cubic-bezier(1, 0, 0, 1);
		}
		.nav-list {
			&-item {
				list-style-type: none;
			}
			&-link {
				font-family: $font-dancingScript;
				font-size: 50px;
				@include textStyle(capitalize);
				color: $color-secondary;
				text-decoration: none;
				display: block;
				margin: 20px;
				text-align: center;
				position: relative;

				&::after {
					content: "";
					position: absolute;
					width: 0;
					height: 5px;
					bottom: 0;
					left: 0;
					background-color: $color-primary;
					border-radius: 3px;
					transition: all 0.5s ease-out;
				}

				&:hover::after {
					width: 100%;
				}

				&:hover {
					color: $color-primary;
				}
			}
		}
	}
}

header {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.6)),
		url(../images/bg.jpeg) center no-repeat;
	background-size: cover;
	position: relative;
	.brand {
		@include centering(15%);
		color: $color-white;
		display: flex;
		align-items: center;
	}
	.header-banner {
		text-align: center;
		color: #fff;
		@include centering(50%);
	}
}

.about-us {
	min-height: 90vh;
	@media (min-width: 992px) and (max-width: 1199px) {
		min-height: 70vh;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		min-height: 50vh;
	}
	align-items: center;
	display: flex;
	.row {
		width: 100%;
		height: 100%;
		.about-us-left img {
			width: 100%;
			opacity: 0.7;
		}
	}
	&-left {
		position: relative;
		left: -120px;
		@media (min-width: 576px) and (max-width: 767px) {
			left: 0;
		}
		@media (max-width: 575px) {
			left: 0;
		}
	}
	&-right {
		display: flex;
		flex-direction: column;
		align-items: center;
		.stars {
			margin: 30px 0;
		}
		.star {
			font-size: 15px;
			color: $color-primary;
			margin-left: 10px;
		}
		.description {
			font-family: $font-josefinSans;
			font-size: 20px;
			font-style: italic;
			text-align: justify;
			color: $color-secondary;
			@media (min-width: 1400px) {
				font-size: 30px;
			}
			@media (min-width: 768px) and (max-width: 991px) {
				font-size: 15px;
			}

			&::first-letter {
				padding-left: 50px;
			}
		}
		button {
			&.right-btn {
				overflow: hidden;

				&::before {
					content: "";
					position: absolute;
					background-color: $color-primary;
					width: 100%;
					height: 100%;
					top: 0;
					left: -100%;
					transition: 0.35s left;
					z-index: 1;
				}

				&:hover::before {
					left: 0;
				}

				span {
					position: relative;
					z-index: 2;
					transition: 0.35s color;
				}

				&:hover span {
					color: white;
				}
			}
		}
	}
}

.gallery {
	.row {
		width: 100%;
		margin: 0;
		.col-md-4 {
			padding: 0;
		}
	}
}

.footer {
	padding: 70px 0;
	@include flexLayout;
	flex-direction: column;
	&-header {
		display: flex;
		align-items: center;
		margin-bottom: 70px;
	}
	.social-media {
		display: flex;
		justify-content: space-between;
		width: 300px;
		&-item {
			list-style: none;
		}
		&-link {
			text-decoration: none;
			font-size: 50px;
			color: $color-secondary;
			transition: all 0.7s;
			&:hover {
				color: $color-primary;
			}
		}
	}
	&-copyright-paragraph {
		font-family: $font-josefinSans;
		font-size: 18px;
		color: $color-secondary;
		@include textStyle(capitalize);
	}
}
